
@{
    ViewBag.Title = "FAQ";
}

@section scripts{
    <style>
        #header {
            background-position: 50% 0%;
        }
    </style>
}

@section bodyscripts{
<script src="@Url.Content("~/Scripts/angular.js")"></script>
<script src="@Url.Content("~/Scripts/angular-sanitize.js")"></script>
<script src="@Url.Content("~/App/Faq/faq.app.js")"></script>
<script src="@Url.Content("~/App/Faq/faq.service.js")"></script>
<script src="@Url.Content("~/App/Faq/faq.controller.js")"></script>
}

<!-- === BEGIN CONTENT === -->
<div id="content" data-ng-app="wedding.faq" data-ng-controller="FaqController as ctrl">
    <div class="container background-white">
        <div class="row margin-vert-30">
            <div class="col-md-12">
                <h2 class="margin-bottom-20">F.A.Q.</h2>
                <p>
                    We'll do our best to post answers to common questions here and information that might be helpful. If you don't see your question answered here. Please feel free to ask below.
                </p>
                <hr class="margin-vert-40">
                <div class="row">
                    <div class="col-md-8">
                        <div class="tab-content">
                            <div class="tab-pane active in fade" id="faq">
                                <div class="panel-group" id="accordion">
                                    <!-- FAQ Item -->
                                    <div class="panel panel-default panel-faq" data-ng-repeat="faq in ctrl.faq">
                                        <div class="panel-heading">
                                            <a data-toggle="collapse" data-parent="#accordion" href="{{'#faq-sub' + $index}}">
                                                <h4 class="panel-title">
                                                    {{faq.question}}
                                                    <span class="pull-right">
                                                        <i class="glyphicon glyphicon-plus"></i>
                                                    </span>
                                                </h4>
                                            </a>
                                        </div>
                                        <div id="{{'faq-sub' + $index}}" class="panel-collapse collapse">
                                            <div class="panel-body" data-ng-bind-html="faq.answer">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End FAQ Item -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h3 class="margin-bottom-10">Could not find the answer?</h3>
                        <div class="row margin-top-10">
                            <div class="col-md-12">
                                <div class="alert alert-danger" data-ng-repeat="error in ctrl.errors" role="alert">{{error}}</div>
                                <div class="form-group">
                                    <label for="emailAddress">Email:</label>
                                    <input id="emailAddress" class="form-control" type="email" placeholder="your@email.com" data-ng-model="ctrl.email" maxlength="{{ctrl.emailMaxLength}}" />
                                </div>
                        <div class="form-group">
                           <label for="question">Question:</label> 
                            <textarea id="question" placeholder="your question here" data-ng-model="ctrl.question" maxlength="{{ctrl.questionMaxLength}}" class="form-control" rows="3"></textarea>
                        </div>
                                <span>{{ctrl.question ? ctrl.question.length : 0}} / {{ctrl.questionMaxLength}}</span>
                                <button data-ng-click="ctrl.askQuestion()" type="button" class="btn btn-primary btn-sm">ASK!</button>
</div>
</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- === END CONTENT === -->

